<div class="window-container">
    <div class="window-header">
        <div class="menu-bar">
            <span class="menu-item">File</span>
            <span class="menu-item">Edit</span>
            <span class="menu-item">View</span>
            <span class="menu-item">Connections</span>
            <span class="menu-item">Help</span>
        </div>
    </div>

    <div class="window-content">
        <div class="container">
            <h1 class="tittle">Mateo Vranych</h1>
            <h2 class="sub-tittle">Desarrollador de Software</h2>

            <p class="description">
                Soy un desarrollador de software con experiencia en desarrollo web utilizando tecnologías como Angular, .NET, y bases de datos SQL. Me apasiona crear soluciones eficientes y escalables que impacten positivamente a los usuarios.
            </p>

            <p class="tecnologias">
                <strong>Tecnologías:</strong> .NET, C#, Angular, TypeScript, HTML, CSS, JavaScript, SQL, Git, Docker, Entity Framework, AWS.
            </p>
            
            <p class="experiencia">
                <strong>Experiencia Laboral:</strong>
                <ul>
                    <li>Desarrollador Backend en NoCountry: Tecnologías utilizadas: .NET, SCRUM, GIT, SQL,TRELLO, FIGMA, DRAW.IO</li>
                </ul>
            

            <p class="proyectos">
                <strong>Proyectos:</strong>
                <ul>
                    <li><a href="link_a_proyecto_1">SC-DENTAL</a>: Me desempeñé como desarrollador backend y frontend para desarrollar un turnero para un centro odontológico.</li>
                    <li><a href="link_a_proyecto_2">MERCADOCHAMBA</a>: Me desempeñé como desarrollador backend con .NET, utilizando la metodología SCRUM.</li>
                    <li><a href="link_a_proyecto_3">OWNSTYLE</a>: Una e-commerce que realicé para practicar.</li>
                    <li><a href="link_a_proyecto_4">MARAVISHOP</a>: Proyecto final de la tecnicatura, una e-commerce.</li>
                </ul>
            

            <p class="estudios">
                <strong>Estudios:</strong>
                <ul>
                    <li>Técnico Superior en Desarrollo de Software - Instituto Técnico Superior de Córdoba.</li>                        
                </ul>
            

            <p class="contacto">
                <strong>Contacto:</strong>
                <ul>
                    <li><a href="https://www.linkedin.com/in/mateovranych/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/mateovranych" target="_blank">GitHub</a></li>
                    <li><a href="mailto:mvranych@gmail.com">Email</a></li>
                </ul>
            
        </div>
    </div>
</div>
