<div class="container">
    <h1 class="tittle">Mateo Vranych</h1>
    <h2 class="sub-tittle">Desarrollador de Software</h2>

    <p class="description">
        Soy un desarrollador de software con experiencia en desarrollo web utilizando tecnologías como Angular, .NET, y bases de datos SQL. Me apasiona crear soluciones eficientes y escalables que impacten positivamente a los usuarios.
    </p>

    <p class="tecnologias">
        <strong>Tecnologías:</strong> .NET, C#, Angular, TypeScript, HTML, CSS, JavaScript, SQL, Git, Docker, Entity Framework, AWS, .
    </p>
    
    <p class="experiencia">
        <strong>Experiencia Laboral:</strong>
        <ul>
            <li>Desarrollador Backend en NoCountry tecnologías que utilice son .NET/SCRUM/GIT/SQL</li>
            
        </ul>
        
            <p class="proyectos">
                <strong>Proyectos:</strong>
                <ul>
                    <li><a href="link_a_proyecto_1">SC-DENTAL</a>: Descripción breve del proyecto.</li>
                    <li><a href="link_a_proyecto_2">MERCADOCHAMBA 2</a>: Descripción breve del proyecto.</li>
                    <li><a href="link_a_proyecto_2">OWNSTYLE</a>: Descripción breve del proyecto.</li>
                    <li><a href="link_a_proyecto_2">MARAVISHOP</a>: Descripción breve del proyecto.</li>
        
                </ul>
    <p class="estudios">
        <strong>Estudios:</strong>
        <ul>
            <li>Tecnico Superior en Desarrollo de Software - Instituto Técnico Superior de Córdoba.</li>                        
        </ul>
    




    <p class="contacto">
        <strong>Contacto:</strong>
        <ul>
            <li><a href="https://www.linkedin.com/in/mateovranych/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/mateovranych" target="_blank">GitHub</a></li>
            <li><a href="mailto:mvranych@gmail.com">Email</a></li>
        </ul>
    
</div>
