<div class="desktop">
  <div class="icon-container">
    <div class="icon" (click)="openApp('Profile', 'assets/agent.ico')">
      <img src="assets/agent.ico" alt="Profile">
      <span>Perfil</span>
    </div>
    <div class="icon" (click)="openApp('Proyectos','assets/Folder.ico')">
      <img src="assets/Folder.ico" alt="Proyectos">
      <span>Proyectos</span>
    </div>
    <div class="icon" (click)="openApp('Ayuda','assets/Help 3D.ico')">
      <img src="assets/Help 3D.ico" alt="Ayuda">
      <span>Ayuda</span>
    </div>
    <div class="icon" (click)="openApp('MSN','assets/MSN.ico')">
      <img src="assets/MSN.ico" alt="MSN">
      <span>MSN</span>
    </div>
    <div class="icon" (click)="openApp('Papelera','assets/Recycle Bin with paper.ico')">
      <img src="assets/Recycle Bin with paper.ico" alt="Papelera">
      <span>Papelera de reciclaje</span>
    </div>
  </div>  
  <ng-container *ngFor="let app of taskbarservice.apps">
    <app-windows *ngIf="app.isOpen" [appName]="app.name">
      <div *ngIf="app.name === 'Profile'">
        <app-profile></app-profile>
      </div>      
      <div *ngIf="app.name === 'Proyectos'">
        <app-proyects></app-proyects>
      </div>
      <div *ngIf="app.name === 'Ayuda'">
        <app-ayuda></app-ayuda>
      </div>
      <div *ngIf="app.name === 'MSN'">
        <app-msn></app-msn>
      </div>
      <div *ngIf="app.name === 'Papelera'">
        <app-papelera></app-papelera>
      </div>
    </app-windows>
  </ng-container>

  <app-task-bar></app-task-bar>
</div>



