<div class="container">
    <div class="title">
<h1>aca se pueden ver los proyectos</h1>
</div>
<div>
    <h2>Maravi</h2>
    <p>Para el final de la tecnicatura, junto a mi grupo desarrollamos una aplicación web para una tienda de ropa. La aplicación la desarrollamos en el Front End con Angular, en el Back End desarrollamos una API en .NET 6 y para la base de datos utilizamos MySql. Además intregramos la API de Mercado Pago para realizar los cobros
    </p>

</div>
<div>
    <h2>OwnStyle</h2>
    <p>Es una ecommerce en la cual se pueden agregar productos, clientes y usuarios, está hecha con Angular en el frontend y .NET en el backend, para levantar las imagenes utilicé IIS pero me gustaría implementar AWS y alguna metodología de pago automática como Mercado Pago.
    </p>

</div>
<div>
    <h2>SCDENTAL</h2>
    <p>Es un trabajo para un cliente particular, es un turnero personalizado para registrar a los pacientes, y turnos correspondientes de los mismos. También se está implementando un display para que funcione en una pantalla como turnero con timbre.
    </p>
</div>
<div>
    <h2>MERCADOCHAMBA</h2>
    <p>Me desempeñé como desarrollador backend en una simulación de la organización No Country,  
        Utilicé diversas tecnologías para poder agilizar el poco tiempo que tuvimos de desarrollo.
        Trabajamos en equipo bajo la metodología SCRUM y tuvo una duración de 5 semanas.
    </p>
</div>
</div>