<h1>aca se pueden ver los proyectos</h1>

<div>
    <h2>Maravi</h2>
    <p>Para el final de la tecnicatura, junto a mi grupo desarrollamos una aplicación web para una tienda de ropa. La aplicación la desarrollamos en el Front End con Angular, en el Back End desarrollamos una API en .NET 6 y para la base de datos utilizamos MySql. Además intregramos la API de Mercado Pago para realizar los cobros
    </p>

</div>


<div>
    <h2>Maravi</h2>
    <p>Para el final de la tecnicatura, junto a mi grupo desarrollamos una aplicación web para una tienda de ropa. La aplicación la desarrollamos en el Front End con Angular, en el Back End desarrollamos una API en .NET 6 y para la base de datos utilizamos MySql. Además intregramos la API de Mercado Pago para realizar los cobros
    </p>

</div>

<div>
    <h2>Maravi</h2>
    <p>Para el final de la tecnicatura, junto a mi grupo desarrollamos una aplicación web para una tienda de ropa. La aplicación la desarrollamos en el Front End con Angular, en el Back End desarrollamos una API en .NET 6 y para la base de datos utilizamos MySql. Además intregramos la API de Mercado Pago para realizar los cobros
    </p>

</div>

<div>
    <h2>Maravi</h2>
    <p>Para el final de la tecnicatura, junto a mi grupo desarrollamos una aplicación web para una tienda de ropa. La aplicación la desarrollamos en el Front End con Angular, en el Back End desarrollamos una API en .NET 6 y para la base de datos utilizamos MySql. Además intregramos la API de Mercado Pago para realizar los cobros
    </p>

</div>