<div class="window-container">
    <div class="window-header">
        <div class="menu-bar">
            <span class="menu-item">File</span>
            <span class="menu-item">Edit</span>
            <span class="menu-item">View</span>
            <span class="menu-item">Connections</span>
            <span class="menu-item">Help</span>
        </div>
    </div>

    <div class="window-content">
        <div class="title">
            <h1>Aquí se pueden ver los proyectos</h1>
        </div>
        <div class="project">
            <h2>SCDENTAL</h2>
            <p>Es un trabajo para un cliente particular, es un turnero personalizado para registrar a los pacientes y turnos correspondientes de los mismos. También se está implementando un display para que funcione en una pantalla como turnero con timbre.</p>
            <p>Tecnologias utilizadas - .NET 8.0 - ANGULAR</p>
        </div>
        <div class="project">
            <h2>MERCADOCHAMBA</h2>
            <p>Me desempeñé como desarrollador backend en una simulación de la organización No Country. Utilicé diversas tecnologías para poder agilizar el poco tiempo que tuvimos de desarrollo. Trabajamos en equipo bajo la metodología SCRUM y tuvo una duración de 5 semanas.</p>
            <p>Tecnologias utilizadas - .NET 6.0 - ANGULAR - SCRUM - ENTITY - TRELLO - SLACK</p>
        </div>
        <div class="project">
            <h2>OWNSTYLE</h2>
            <p>Es una ecommerce en la cual se pueden agregar productos, clientes y usuarios. Está hecha con Angular en el frontend y .NET en el backend. Para levantar las imágenes utilicé IIS, pero me gustaría implementar AWS y alguna metodología de pago automática como Mercado Pago.</p>
            <p>Tecnologias utilizadas - .NET 6.0 - ANGULAR</p>
        </div>
        <div class="project">
            <h2>MARAVI</h2>
            <p>Para el final de la tecnicatura, junto a mi grupo desarrollamos una aplicación web para una tienda de ropa. La aplicación la desarrollamos en el frontend con Angular, en el backend desarrollamos una API en .NET 6 y para la base de datos utilizamos MySQL. Además integramos la API de Mercado Pago para realizar los cobros.</p>
            <p>Tecnologias utilizadas - .NET 6.0 - ANGULAR - ENTITY - AWS</p>
        </div>
    </div>
</div>
