<div class="taskbar">
  <div class="start-button" (click)="toggleMenu()">
    <img class="img" src="./assets/log.ico" alt="Start">

    <span>Start</span>
    <div class="start-menu" [class.show]="isMenuOpen">
      <div class="menu-item">Programas</div>      
      <div class="menu-item">Documentos</div>
      <div class="menu-item">Configuración</div>
      <div class="menu-item">Buscar</div>
      <div class="menu-item">Cerrar sesión</div>     
      <div class="menu-item">Cerrar sesión</div>     
    </div>
  </div>      

  <div class="tasks">
    <ng-container *ngFor="let app of Taskbarservice.apps">
      <div *ngIf="app.isOpen" class="task">
        <img [src]="app.icon" alt="{{ app.name }}" class="task-icon">
        <div class="task-window">{{ app.name }}</div>
      </div>
    </ng-container>
  </div>

  <div class="clock">
    {{ currentTime | date:'shortTime' }}
  </div>
</div>
