<!-- taskbar.component.html -->
<div class="taskbar">
    <!-- Botón de Inicio -->
    <div class="start-button" (click)="toggleMenu()">
      <img src="/src/assets/log.ico" alt="Start">
      <span>Start</span>
      <!-- Menú de Inicio -->
      <div class="start-menu" [class.show]="isMenuOpen">
        <div class="menu-item">Programas</div>
        <div class="menu-item">Documentos</div>
        <div class="menu-item">Configuración</div>
        <div class="menu-item">Buscar</div>
        <div class="menu-item">Cerrar sesión</div>
      </div>
    </div>
  

  
    <!-- Reloj -->
    <div class="clock">
      {{ currentTime | date:'shortTime' }}
    </div>
  </div>
  