/* icon.component.scss */
.icon {
    position: relative;
    width: 70px; /* Tamaño del icono */
    height: 70px;
    text-align: center;
    font-size: 12px;
    color: #000; /* Color del texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre iconos */
    cursor: pointer;
  
    img {
      width: 40px; /* Tamaño del icono */
      height: 40px;
    }
  
    .icon-label {
      margin-top: 4px;
    }
  
    &:hover {
      background-color: #e0e0e0; /* Color de fondo en hover */
      border-radius: 4px;
      border: 1px solid #b0b0b0; /* Borde en hover */
    }
  }
  